<main>
    <div class="admin-wrapper">
        <div class="admin-content">
            <div class="userAccount-container">
                <div class="admin-text">
                    <h4>Users Account</h4>
                </div>
                <button id="addButton" class="btn"><a href='/userAccount'style='text-decoration:none; color: white'>Add User</a></button>
                <div class="admin-tabel-info">
                    <div id="userAccount" class="userAccount"></div>
                </div>
            </div>
            <div class="userInfo-container">
                <div class="admin-text">
                    <h4>Users Informations</h4>
                </div>
                <button id="infoButton" class="btn"><a href='/userInformation'style='text-decoration:none; color: white'>Add Information</a></button>
                <div class="admin-tabel-info">
                    <div id="userInfo" class="userInfo"></div>
                </div>
            </div>
            <div class="userHistoris-container">
                <div class="admin-text">
                    <h4>Users Historis</h4>
                </div>
                <button id="historisButton" class="btn"><a href='/userHistory'style='text-decoration:none; color: white'>Add Historis</a></button>
                <div class="admin-tabel-info">
                    <div id="userHistoris" class="userHistoris">
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script src="vendors/js/admin.js"></script>