<header>
    <nav>
        <div class="game-logo">
            <div class="game-nav">
                <a href="/home"><i class="icofont-caret-left"></i></a>
                <p>Main Menu</p>
            </div>
            <div class="game-title">
                <img src="image/gamelogo.png" />
                <h2>ROCK PAPER SCISSORS</h2>
            </div>
        </div>
    </nav>
</header>
<main>
        <div class="game-play-wrapper">
            <div class="game-play-content">
                <div class="selection">
                    <h1 class="playerSelectionTitle">Player 1</h1>
                    <ul>
                        <li id="player" class="rock">
                            <img src="image/batu.png">
                        </li>
                        <li id="player" class="paper">
                            <img src="image/kertas.png">
                        </li>
                        <li id="player" class="scissors">
                            <img src="image/gunting.png">
                        </li>
                    </ul>
                </div>
                <div class="game-info">
                    <div class="game-result"></div>
                    <div class="info-text">VS</div>
                    <div class="score-info">
                        <p>Your Score</p>
                        <div class="score">0</div>
                    </div>
                    <div class="refresh-game">
                        <img src="image/refresh.png" class="">
                    </div>
                </div>
                <div class="selection">
                    <h1 class="playerSelectionTitle">COM</h1>
                    <ul>
                        <li id="com" class="rock">
                            <img src="image/batu.png">
                        </li >

                        <li id="com" class="paper">
                            <img src="image/kertas.png">
                        </li>

                        <li id="com" class="scissors">
                            <img src="image/gunting.png">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
</main>

<script src="vendors/js/game.js"></script>