<main>
    <div class="main-call-wrapper">
        <div class="main-content-wrapper">
            <h1>PLAY TRADITIONAL GAME</h1>
            <p>Experience new traditional game play</p>
            <a href="/game"><button style="color:white">TRIAL</button></a>
        </div>
        <div class="the-story">
            <p>THE STORY</p>
            <i class="icofont-caret-down"></i>
        </div>
    </div>
    <div class="game-play-wrapper">
        <div class="game-play-content">
            <div class="game-play-text">
                <p>What's so Special?</p>
                <h1>THE GAMES</h1>
            </div>
            <div class="game-slider">
                <i class="icofont-caret-left"></i>
                <img src="image/rockpaperstrategy-1600.jpg"/>
                <i class="icofont-caret-right"></i>
                <div class="slider-stack">
                    <div class="dot-selected"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="game-feature-wrapper">
        <div class="game-feature-content">
            <div class="feature-content-title">
                <p>What's so special?</p>
                <h1>FEATURES</h1>
            </div>
            <div class="feature-list">
                <ul>
                    <li>
                        <div class="dot-selected"></div>
                        <div class="li-text">
                            <h4>TRADITIONAL GAMES</h4>
                            <p>If you miss your childhood, we provide many traditional games here</p>
                        </div>
                    </li>
                    <li>
                        <div class="dot"></div>
                        <div class="li-text">
                            <h4>GAME SUIT</h4>
                        </div>
                    </li>
                    <li>
                        <div class="dot"></div>
                        <div class="li-text">
                            <h4>TBD</h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="system-req-wrapper">
        <div class="system-req-content">
            <div class="system-req-text">
                <h1>SYSTEM REQUIREMENT</h1>
            </div>
            <div class="tabel-info">
                <table>
                    <tr>
                        <td>
                            <h4>OS:</h4>
                            <p>Windows 7 64-bit only</p>
                            <p>(No OSX Support at this time)</p>
                        </td>
                        <td>
                            <h4>PROCESSOR:</h4>
                            <p>Intel Core 2 Duo @2.4 GHZ or</p>
                            <p>AMD Athlon X2 @2.8 GHZ</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4>MEMORY:</h4>
                            <p>4 GB RAM</p>
                        </td>
                        <td>
                            <h4>STORAGE:</h4>
                            <p>8GB available space</p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan = "2" class="graphics">
                            <h4>GRAPHICS:</h4>
                            <p>NVIDIA GeForce GTX 660 2GB or</p>
                            <p>AMD Radeon HD 2GB DirextX11 (SHader Model5)</p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="top-scores-wrapper">
        <div class="top-scores-content">
            <div class="top-score-text">
                <h1>TOP SCORES</h1>
                <p>This top score from various game provided on this platform</p>
                <button>see more</button>
            </div>
            <div class="top-score-list">
                <div class="top-score-container">
                    <div class="top">
                        <div class="top-left">
                            <img src="image/player1.jpg" />
                            <div class="name-title">
                                <h3>Evan Lathi</h3>
                                <h5>PC Gamer</h5>
                            </div>
                        </div>
                        <div class="top-right">
                            <i class="icofont-twitter"></i>
                        </div>
                    </div>
                    <div class="bottom">
                        <h5>"One of my gaming highlight of the year"</h5>
                        <p>October 18, 2018</p>
                    </div>
                </div>
                <div class="top-score-container right">
                    <div class="top">
                        <div class="top-left">
                            <img src="image/player2.jpg" />
                            <div class="name-title">
                                <h3>Jarda Griffin</h3>
                                <h5>Nerdirector</h5>
                            </div>
                        </div>
                        <div class="top-right">
                            <i class="icofont-twitter"></i>
                        </div>
                    </div>
                    <div class="bottom">
                        <h5>"The next big thing in the world is streaming and survival games"</h5>
                        <p>December 21, 2018</p>
                    </div>
                </div>
                <div class="top-score-container">
                    <div class="top">
                        <div class="top-left">
                            <img src="image/player3.jpg" />
                            <div class="name-title">
                                <h3>Aaron Williams</h3>
                                <h5>Uproxx</h5>
                            </div>
                        </div>
                        <div class="top-right">
                            <i class="icofont-twitter"></i>
                        </div>
                    </div>
                    <div class="bottom">
                        <h5>"Snoop Dogg Playing The Wildly Entertaining 'SOS' is Ridiculous"</h5>
                        <p>December 24, 2018</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>