<div class="admin-form">
    <div class="admin-form-container">
        <div class="title-wrapper">
            <h2>Add User Account</h2>
        </div>
        <div class="form-container">
            <form method="post" action="http://localhost:9000/user/createUser">
                <div class="form-field">
                    <input type="text" id="username" name="username" placeholder="Username" required/>
                </div>
                <div class="form-field">
                    <input type="password" id="password" name="password" placeholder="Password" required/>
                </div>
                <button type="submit" class="btn">Save</button>
            </form>
        </div>
    </div>
</div>

<script src="vendors/js/admin.js"></script>