<div class="admin-form">
    <div class="admin-form-container">
        <div class="title-wrapper">
            <h2>Add User History</h2>
        </div>
        <div class="form-container">
            <form method="post" action="http://localhost:9000/history/createHistory">
                <select class="form-input" name="user_id" id="user_id">
                </select>
                <!-- <div class="form-input">
                    <input type="number" id="time_play" name="time_play" placeholder="time play" required/>
                </div>
                <div class="form-input">
                    <input type="number" id="total_match" name="total_match" placeholder="total match" required/>
                </div> -->
                <div class="form-input">
                    <input type="number" id="win" name="win" placeholder="win" required/>
                </div>
                <div class="form-input">
                    <input type="number" id="lose" name="lose" placeholder="lose" required/>
                </div>
                <!-- <div class="form-input">
                    <input type="number" id="win_rate" name="win_rate" placeholder="win rate" required/>
                </div> -->
                <button type="submit" class="btn">Save</button>
            </form>
        </div>
    </div>
</div>

<script src="vendors/js/admin.js"></script>