<div class="admin-form">
    <div class="admin-form-container">
        <div class="title-wrapper">
            <h2>Add User Information</h2>
        </div>
        <div class="form-container">
            <form method="post" action="http://localhost:9000/info/createInfo">
                <select class="form-input" name="user_id" id="user_id">
                </select>

                <select class="form-input" name="gender" id="gender">
                    <option value="" disabled selected>Choose a gender</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>

                <div class="form-input">
                    <input type="number" oninput="maxLengthCheck(this)" maxlength="2" min='10' max="80" id="age" name="age" placeholder="age" required/>
                </div>
                <div class="form-input">
                    <input type="text" id="city" name="city" placeholder="city" required/>
                </div>
                <button type="submit" class="btn">Save</button>
            </form>
        </div>
    </div>
</div>

<script src="vendors/js/admin.js"></script>