<div class="login-page">
    <h1 class="title-page">Welcome to Traditional Game!</h1>
    <div class="login-msg" role="alert">
    <% if (typeof errors != 'undefined') { %>
        <div class="errors"><%= errors %></div>
    <% } %>
    <% if (typeof success != 'undefined') { %>
        <div class="success"><%= success %></div>
    <% } %>
    </div>
    <form method="post" action="/login">
        <div class="form-field">
            <input type="text" placeholder="Username" id="username" name="username" required/>
        </div>
        <div class="form-field">
            <input type="password" placeholder="Password" id="password" name="password" required/>
        </div>
        <button type="submit" class="btn">LOG IN</button>
    </form>
    <p class="register">don't have an account? <button id="myBtn" class="register-btn">Register</button></p>
    
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="title-wrapper">
                <h4>Traditional Game Account Register</h4>
                <div class="close">&times;</div>
            </div>
            <div class="register-form">
                <form method="post" action="/user">
                    <div class="form-field">
                        <input type="text" id="username" name="username" placeholder="Username" required/>
                    </div>
                    <div class="form-field">
                        <input type="password" id="password" name="password" placeholder="Password" required/>
                    </div>
                    <button type="submit" class="btn">REGISTER</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="user-info">
    <button class="btn-info" id="user-info-btn"><i class="icofont-info"></i></button>
    <div id="user-info-modal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="title-wrapper">
                <h4>User Information</h4>
                <div class="closeInfo">&times;</div>
            </div>
            <pre id="json-info" class="json-info"></p>
        </div>
    </div>
</div>

<script src="vendors/js/login.js"></script>