* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

::-webkit-scrollbar {
    display: none;
}

body::-webkit-scrollbar {
    display: none;
}

@media only screen and (max-width: 525px) {
    body {
        overflow-x: hidden;
        overflow-y: scroll;
    }
}

header {
    position: absolute;
    padding: 10px;
    width: 100%;
    display: flex;
    background: rgba(0, 0, 0, 0.6);
}

footer{
    display: flex;
    height: 5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: black;
    color: white;
}

nav {
    width: 100%;
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: baseline;
    margin: 0 100px;
}

.logo-app {
    color: white;
    font-size: 25px;
    font-weight: bolder;
}

.main-menu {
    font-size: 15px;
    display: flex;
    list-style-type: none;
}

.main-menu li {
    margin: 20px;
}

.user-menu {
    font-size: 15px;
    display: flex;
    list-style-type: none;
}

.user-menu li {
    margin: 20px;
    color: white;
    text-decoration: none;
}

.user-menu a{
    text-decoration: none;
}

main {
    width: 100%;
    height: 100%;
    background-size: contain;
    position: realtive;
}

.admin-wrapper {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background: rgb(41, 41, 41);
    padding: 4rem;
    padding-top: 6rem;
}

.admin-form {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background: rgb(41, 41, 41);
    padding: 4rem;
    padding-top: 6rem;
    display: flex;
    justify-content: space-around;
}


.admin-wrapper .admin-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.admin-wrapper .admin-content .admin-text {
    color: white;
    font-size: 25px;
    font-weight: 400;
    margin: 1rem 0;
}


.admin-tabel-info{
    margin-bottom: 2rem;
}

table,
td,
th{
    border: 1px solid grey;
    border-width: thin;
    border-collapse: collapse;
    color: white;
    padding: 1rem 3rem;

}

th{
    background: white;
    color: black
}

form {
    width: 350px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
form .form-input::before {
    font-size: 20px;
    position: absolute;
    left: 15px;
    top: 17px;
    color: #888888;
    content: " ";
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
}
form .form-input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 1rem;
    position: relative;
}
form input {
    font-family: inherit;
    width: 100%;
    outline: none;
    background-color: #fff;
    border-radius: 4px;
    border: none;
    display: block;
    padding: 0.9rem 0.7rem;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    font-size: 17px;
    color: #4A4A4A;
    text-indent: 40px;
}
form select {
    font-family: inherit;
    width: 100%;
    outline: none;
    background-color: #fff;
    border-radius: 4px;
    border: none;
    display: block;
    padding: 0.9rem 0.7rem;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    font-size: 17px;
    color: #4A4A4A;
    text-indent: 40px;
}

.btn{
    background: orange;
    border-radius:3px;
    padding: 10px;
    border: none;
    font-weight: 700;
    cursor: pointer;
    color: white;
    margin: 1rem 0;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    /* overflow: auto; Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    display: flex;
    background-color: rgba(255,255,255, 1);
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-height: 80%;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    overflow: auto;
}

.title-wrapper{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin:0;
    margin-bottom: 3rem;
    color: white
}
.form-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 2rem;
}

/* The Close Button */
.close, .closeInfo{
color: #aaaaaa;
font-size: 28px;
font-weight: bold;
}

.closeInfo:hover,
.closeInfo:focus,
.close:hover,
.close:focus {
color: #000;
text-decoration: none;
cursor: pointer;
}