.login-page {
    background-image: url('../image/main-bg.jpg');
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0 -20px 40px black;
    color: white;
}

.login-msg{
    min-height: 1rem;
    margin: 1rem 0;
}

.login-msg .errors {
    background:rgb(255, 141, 141);
    padding: 1rem;
    border-radius: 5px;
    color: black;
}

.login-msg .success {
    background:rgb(185, 255, 141);
    padding: 1rem;
    border-radius: 5px;
    color: black;
}


.title-page{
    color: white;
}

form {
    width: 350px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
form .form-field::before {
    font-size: 20px;
    position: absolute;
    left: 15px;
    top: 17px;
    color: #888888;
    content: " ";
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
}
form .form-field:nth-child(1)::before {
    background-image: url('../image/user-icon.png');
    width: 20px;
    height: 20px;
    top: 15px;
}
form .form-field:nth-child(2)::before {
    background-image: url('../image/lock-icon.png');
    width: 16px;
    height: 16px;
}
form .form-field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 1rem;
    position: relative;
}
form input {
    font-family: inherit;
    width: 100%;
    outline: none;
    background-color: #fff;
    border-radius: 4px;
    border: none;
    display: block;
    padding: 0.9rem 0.7rem;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    font-size: 17px;
    color: #4A4A4A;
    text-indent: 40px;
}
.btn {
    outline: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    margin: 0 auto;
    padding: 0.9rem 2.5rem;
    text-align: center;
    background-color: orange;
    color: #fff;
    border-radius: 4px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    font-size: 17px;
}

.register-btn{
    background: none;
    border: none;
    color: blue;
    font-weight: 700;
    margin: 2rem 0;
    cursor: pointer;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    /* overflow: auto; Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    display: flex;
    background-color: rgba(255,255,255, 1);
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-height: 80%;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    overflow: auto;
}

.title-wrapper{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin:0;
    margin-bottom: 1rem;
    color: black
}
.register-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

/* The Close Button */
.close, .closeInfo{
color: #aaaaaa;
font-size: 28px;
font-weight: bold;
}

.closeInfo:hover,
.closeInfo:focus,
.close:hover,
.close:focus {
color: #000;
text-decoration: none;
cursor: pointer;
}

.user-info{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 2rem;
}

.btn-info {
    outline: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    margin: 0 auto;
    padding: 0.5rem 1rem;
    text-align: center;
    background-color: whitesmoke;
    color: black;
    border-radius: 4px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    font-size: 17px;
}

.json-info{
    display: flex;
    align-items: flex-start;
    margin-bottom: 2rem;
    width: 90%;
    flex-wrap: wrap;
    word-wrap: break-word;
}