<header>
    <nav>
        <a href='/home' style="text-decoration: none;"><div class="logo-app">LOGO</div></a>
        <ul class="main-menu">
            <li><a href="/home" style="text-decoration: none; color: white">HOME</a></li>
            <li><a>WORK</a></li>
            <li><a>CONTACT</a></li>
            <li><a>ABOUT ME</a></li>
        </ul>
        <ul class="user-menu">
            <a href='/admin'><li>ADMIN</li></a>
            <a href='/'><li>LOG OUT</li></a>
        </ul>
    </nav>
</header>