* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

::-webkit-scrollbar {
    display: none;
}

body::-webkit-scrollbar {
    display: none;
}

@media only screen and (max-width: 525px) {
    body {
        overflow-x: hidden;
        overflow-y: scroll;
    }
}

header {
    position: absolute;
    padding: 10px;
    width: 100%;
    display: flex;
    background: rgba(0, 0, 0, 0.6);
}

nav {
    width: 100%;
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: baseline;
    margin: 0 100px;
}
nav .game-logo{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

nav .game-logo .game-nav{
    display:flex;
    align-items: center;
    font-size: 1rem;
}

nav .game-logo .game-nav a{
    color: white;
    text-decoration: none;
}

nav .game-logo .game-title {
    display: flex;
    margin-top: 1rem;
}
nav .game-logo .game-title img{
    margin-right: 0.3rem;
    max-width: 2rem;
    background: #9C835F;
    padding: 2px;
    border-radius: 5px;
}

main {
    width: 100%;
    height: 100%;
    background-size: contain;
    position: realtive;
}

.game-play-wrapper {
    height: 100vh;
    background-image: url('../image/the-games-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 -150px 150px -50px black, inset 0 150px 150px 50px black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-play-content {
    min-width: 60%;
    min-height: 60%;
    display: flex;
    color: white;
    /* background: red; */
    justify-content: space-between;
}

.game-play-content .selection{
    width:40%;
    align-items: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.game-play-content .selection li{
    display: flex;
    /* background: white; */
    padding: 10px;
    min-height: 100px;
    width: 100px;
    margin-bottom: 5px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}

.game-play-content .selection #player,
.game-play-content .game-info .refresh-game{
    cursor: pointer;
}

.active{
    background: #9C835F;
}

.shake{
    background: #9C835F;
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
}

.game-play-content .selection li:last-child{
    margin-bottom: 0;
}
.game-play-content .selection li img{
    width:3rem;
}
.game-play-content .selection ul{
    padding: 2rem;
    border-radius: 5px;
    height: 90%;
    list-style-type: none;
    /* background: white; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.game-play-content .game-info{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.game-play-content .game-info .info-text{
    font-size:4rem;
    color: orange;
}

.game-play-content .game-info .score-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: orange;
    font-weight: bold;
}
.game-play-content .game-info .score{
    display: flex;
    width: 5rem;
    justify-content: center;
    align-items: center;
    background: white;
    padding: 0.5rem;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    margin-top: 0.5rem;
}

.game-play-content .game-info .refresh-game img{
    width: 3rem;
    height: 3rem;   
    display: flex;
    justify-self: end;
}

.game-play-content .game-info .game-result{
    padding: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    min-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }




