* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

::-webkit-scrollbar {
    display: none;
}

body::-webkit-scrollbar {
    display: none;
}

@media only screen and (max-width: 525px) {
    body {
        overflow-x: hidden;
        overflow-y: scroll;
    }
}

header {
    position: absolute;
    padding: 10px;
    width: 100%;
    display: flex;
    background: rgba(0, 0, 0, 0.6);
}

nav {
    width: 100%;
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: baseline;
    margin: 0 100px;
}

.logo-app {
    color: white;
    font-size: 25px;
    font-weight: bolder;
}

.main-menu {
    font-size: 15px;
    display: flex;
    list-style-type: none;
}

.main-menu li {
    margin: 20px;
}

.user-menu {
    font-size: 15px;
    display: flex;
    list-style-type: none;
}

.user-menu li {
    margin: 20px;
    color: white;
    text-decoration: none;
}

.user-menu a{
    text-decoration: none;
}

main {
    width: 100%;
    height: 100%;
    background-size: contain;
    position: realtive;
}

.main-call-wrapper {
    height: 100vh;
    background-image: url('../image/main-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 -20px 40px black;
    display: flex;
    flex-direction: column;
}

.main-content-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 100px;
    color: white;
}

.main-content-wrapper h1 {
    font-size: 50px;
    flex-direction: column;
    align-items: center;
    letter-spacing: 5px;
}

.main-content-wrapper button {
    padding: 0.9rem 2.5rem;
    background: orange;
    border: none;
    font-weight: bold;
    border-radius: 2px;
    cursor: pointer;
}

.main-content-wrapper a {
    color: white;
    text-decoration: none;
}

.the-story {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 10px;
    font-weight: bold;
    padding-bottom: 50px;
}

.the-story i {
    font-size: 50px;
}

.game-play-wrapper {
    height: 100vh;
    background-image: url('../image/the-games-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 -150px 150px -50px black, inset 0 150px 150px 50px black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-play-content {
    display: flex;
}

.game-play-text {
    color: white;
}

.game-play-text h1 {
    font-weight: 500;
}

.game-slider {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
}

.game-slider img {
    height: 20rem;
}

.game-slider i {
    color: white;
    font-size: 50px;
}

.game-slider .slider-stack {
    position: absolute;
    width: 20%;
    height: 10%;
    bottom: 0;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.game-slider .slider-stack .dot-selected {
    background: white;
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

.game-slider .slider-stack .dot {
    border: 2px white solid;
    border-radius: 50%;
    width: 15px;
    height: 15px;
}


.game-feature-wrapper {
    height: 100vh;
    background-image: url('../image/features.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 -150px 150px -50px black, inset 0 5px 100px 50px black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.game-feature-content {
    height: 30rem;
    color: white;
    padding: 5rem;
}

.game-feature-content .feature-content-title {
    margin-bottom: 2rem;
}

.game-feature-content .feature-content-title p {
    font-size: 1rem;
}

.game-feature-content .feature-content-title h1 {
    font-size: 4rem;
    font-weight: 400;
}

.game-feature-content .feature-list {
    width: 60%;
}

.game-feature-content .feature-list li {
    margin-bottom: 3rem;
}

.game-feature-content .feature-list h4 {
    color: orange;
    margin-bottom: 0.5rem;
}

.game-feature-content .feature-list ul {
    list-style-type: none;
}

.game-feature-content .feature-list ul li {
    display: flex;
}

.game-feature-content .feature-list ul li .dot-selected {
    background: white;
    border-radius: 50%;
    width: 30px;
    height: 20px;
    margin-right: 2rem;
}

.game-feature-content .feature-list ul li .dot {
    border: 2px white solid;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin-right: 2rem;
}

.system-req-wrapper {
    height: 100vh;
    background-image: url('../image/requirements.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 -150px 150px -50px black, inset 0 150px 150px 50px black;
    display: flex;
    padding: 10rem;
    justify-content: start;
    align-items: center;
}


.system-req-wrapper .system-req-content {
    width: 100%;
}

.system-req-wrapper .system-req-content .system-req-text {
    color: white;
    width: 100px;
    margin-bottom: 5rem;
    font-size: 25px;
    font-weight: 400;
}

.system-req-wrapper .system-req-content .system-req-text h1 {
    font-weight: 500;
}

table,
td {
    border: 1px solid grey;
    border-width: thin;
    border-collapse: collapse;
    color: white;
    padding: 20px;
}

td h4 {
    color: orange;
    font-weight: 500;
    font-size: 20px;
}

.top-scores-wrapper {
    height: 100vh;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-scores-wrapper .top-scores-content {
    display: flex;
    height: 100%;
    width: 80%;
}

.top-scores-wrapper .top-scores-content .top-score-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.top-scores-wrapper .top-scores-content .top-score-text h1 {
    margin-bottom: 2rem;
    color: white;
    font-size: 40px;
    font-weight: 500;
}

.top-scores-wrapper .top-scores-content .top-score-text p {
    margin-bottom: 2rem;
    font-weight: 500;
    color: white;
    width: 80%;
}

.top-scores-wrapper .top-scores-content .top-score-text button {
    padding: 10px 50px;
    background: orange;
    border: none;
    font-weight: bold;
    border-radius: 2px;
    cursor: pointer;
    width: 50%;
}

.top-scores-wrapper .top-scores-content .top-score-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.top-scores-wrapper .top-scores-content .top-score-list .top-score-container {
    background: #1c1c1c;
    width: 80%;
    border-radius: 5px;
    padding: 20px;
    color: white;
    margin-bottom: 20px;
}

.top-scores-wrapper .top-scores-content .top-score-list .right {
    align-self: flex-end;
}

.top-scores-wrapper .top-scores-content .top-score-list .top-score-container .top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.top-scores-wrapper .top-scores-content .top-score-list .top-score-container .top .top-left {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.top-scores-wrapper .top-scores-content .top-score-list .top-score-container .top .top-left h3 {
    color: orange;
}

.top-scores-wrapper .top-scores-content .top-score-list .top-score-container .top .top-left img {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    margin-right: 10px;
}


.top-scores-wrapper .top-scores-content .top-score-list .top-score-container .bottom h5 {
    margin-bottom: 10px;
}

.top-scores-wrapper .top-scores-content .top-score-list .top-score-container .bottom p {
    font-weight: 300;
    color: grey;
}

footer{
    display: flex;
    height: 5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: black;
    color: white;
}