<header>
    <nav>
        <div class="logo-app">LOGO</div>
        <ul class="main-menu">
            <li><a>HOME</a></li>
            <li><a>WORK</a></li>
            <li><a>CONTACT</a></li>
            <li><a>ABOUT ME</a></li>
        </ul>
        <ul class="user-menu">
            <li>SIGN UP</li>
            <a href='/'><li>LOG OUT</li></a>
        </ul>
    </nav>
</header>